Source: mpssh
Section: unknown
Priority: extra
Maintainer: Eduardo Ferro Aldama <eferro@alea-soluciones.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4
Homepage: <insert the upstream URL, if relevant>
#Vcs-Git: git://git.debian.org/collab-maint/mpssh.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/mpssh.git;a=summary

Package: mpssh
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
